.cpmindicator_value {
  font-weight: bold;
  }

.cpmindicator_trend {
  font-weight: bold;
  }

.cpmindicator-background-container {
  border: 1px solid grey; 
  width:100%;
  float:left;
  margin-bottom:0.6em;
  }

.cpmindicator-icon-comment-container {
  border: 1px solid grey; 
  width:135px;
  float:left;
  margin-bottom:0.6em;
  margin-left: 5px;
  margin-right: 5px;
  }

.cpm-print-portfolio-report .views-field-field-comments {
  clear: both;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid grey;
  padding: 3px;
}

.cpm-print-portfolio-report .views-field-title,
.cpm-print-portfolio-report .views-field-title-1,
.cpm-print-portfolio-report .views-field-field-responsible {
  margin-left: 10px;
}

.cpm-print-portfolio-report table{
  width: 752px;
  border-collapse:separate;
  border-spacing:0 5px;
}

.cpm-print-portfolio-report td{
  border: 1px solid grey;
  width: 800px;
}

.cpm-print-portfolio-report tr { 
  page-break-inside:avoid; page-break-after:auto 
  }

.cpmindicator-icon-comment-name {
  font-weight: bold;
  text-align: center;
}

.cpmindicator_icon-comment_comment{
  padding: 3px;
}

.cpmindicator-background-description {
  border-bottom: 1px solid grey; 
  padding: 3px 5px;
  }

.cpmindicator-background-text {
  float:left;
  padding: 3px 5px;
  }

.cpmindicator-background-value-container {
  height: 3.4em;
  }

.cpmindicator_background_visual {
  float:right;
  width: 60px;
  height: 100%;
  background-repeat: no-repeat;
  }

.cpmindicator_background_icon {
  width: 60px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  background-repeat: no-repeat;
  border: 1px solid grey; 
  }

.cpmindicator_smilies_icon {
  width: 60px;
  height: 40px;
  border: 1px solid grey; 
  position: relative;
  }

.cpmindicator_smilies_icon_comment{
/*  width: 60px;*/
  height: 40px;
  border: 1px solid grey; 
/*  position: relative;*/
  }

.smilies_icon {
  text-align:center;
  padding-right:5px;
}

.icon_comment {
  position: absolute;
  top: 0px; 
  right:0px;
  width: 2em;
  height: 1em;
  text-align: right;
  line-height:100%;
}

.cpmindicator_background_comment {
  font-style: italic;
  padding: 3px 5px;
  border-top: 1px solid grey; 
  clear:both;
  }

.trend_up {
  background-image: url(../images/trends/up.gif);
  background-position: right top;
  }

.trend_neutral {
  background-image: url(../images/trends/neutral.gif);
  background-position: right center;
  }

.trend_down {
  background-image: url(../images/trends/down.gif);
  background-position: right bottom;
  }

div.cpmindicator-comment-qtip {
  padding: 5px 0px;
  border-top:1px solid grey;
  }
  
.cpmlegend_background_icon {
  background-repeat: no-repeat;
  border: 1px solid grey; 

  }
  
.cpm-reporting-summary-icon .views-field-field-technical, 
.cpm-reporting-summary-icon .views-field-field-budget,
.cpm-reporting-summary-icon .views-field-field-planning,
.cpm-reporting-summary-icon .views-field-field-resources,
.cpm-reporting-summary-icon .views-field-field-involvement
{
  width: 80px;
  text-align: center;
}

.cpm-reporting-summary-icon table
{
  width: 752px;
}

@media print
{
  .ui-tooltip
  {
    display: none !important;
  }
}