.inline {
  float: left;
  width: 200px;
}

.field-type-cpmindicator .form-type-radios {
  float: left;
  width: 220px;
}

.field-type-cpmindicator .form-type-text-format {
  width: 400px;
  clear: both;
}

.field-type-cpmindicator .form-type-textarea {
  width: 400px;
  clear: both;
}

@media screen and (min-width: 1050px) {
  .field-type-cpmindicator .form-type-text-format {
    float: left;
    clear: none;
  }

  .field-type-cpmindicator .form-type-textarea {
    float: left;
    clear: none;
  }
}

.filter-help {
  display:none;
}

#edit-field-legend table td {
  padding: 3px 5px;
}

#edit-field-legend p {
  margin: 4px;
  }
  
#edit-field-legend .form-item {
  padding: 0;
  margin: 0;
}
