.view-display-id-page_all_grouped caption {
  font-size: 110%;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

.cpm-background-icon th.views-field-field-technical,
.cpm-background-icon th.views-field-field-technical, 
.cpm-background-icon th.views-field-field-budget,
.cpm-background-icon th.views-field-field-planning,
.cpm-background-icon th.views-field-field-resources,
.cpm-background-icon th.views-field-field-involvement
{
  width: 80px;
  text-align: center;
}

.cpm-background-icon td.views-field-field-technical,
.cpm-background-icon td.views-field-field-technical, 
.cpm-background-icon td.views-field-field-budget,
.cpm-background-icon td.views-field-field-planning,
.cpm-background-icon td.views-field-field-resources,
.cpm-background-icon td.views-field-field-involvement
{
  text-align: center;
}

.cpm-background-icon .qtip-link {
  border: none;
  display: inline-block;
}

.cpm-background-icon td, 
.cpm-background-icon th {
  }

div.cpmindicator_background_icon {
  display: inline-block;
}

.cpm-background-icon td.views-field-field-comments {
  text-align: left !important;
  height: 12px;
}

.view-smilechecks-by-project th.views-field-view-node,
.cpm-background-icon th.views-field-view-node {
  width: 35px;
}

.comment-overflow > div {
  max-height: 100px;
  overflow: scroll;
}

.cpm-background-icon td.views-field-view-node {
  text-align: right;
}

.cpm_icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 15px;
  height: 20px;
}

.cpm_edit_icon {
  background-image: url("../images/icon-edit.png");
}

.cpm_view_icon {
  background-image:url("../images/icon-view.png");
  background-size: 15px auto;
}

.cpm_translate_icon {
  background-image:url("../images/icon-translate.png");
  /* background-size: 15px auto; */
}