/* Specific stylesheet for tree view of monotoring report */

div.reporting-row {
  width: 400px;
  float: right;
}

div.reporting-row div {
  float:left;
}

.views_tree_collapsed,
.views_tree_expanded,
.views_tree_collapsed ul li,
.views_tree_expanded ul li {
  clear: both;
}

.view-reporting-tree li {
  padding-right: 0px;
}

