/* $Id $ */

a.cpm_qtip_on {
  background: url(images/On.png) no-repeat 0 0;
  display: block;
/*  float: right; */
  width: 32px;
  height: 32px;
  margin: 6px 0 0 0;
  outline: none;
/*  text-indent: -9000px; */
  cursor: pointer;
}

a.cpm_qtip_off {
  background: url(images/Off.png) no-repeat 0 0;
  display: block;
/*  float: right; */
  width: 32px;
  height: 32px;
  margin: 6px 0 0 0;
  outline: none;
/*  text-indent: -9000px; */
  cursor: pointer;
}

#cpm_qtip_clear {
  clear: both;
}